<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">
        <div>
          <div class="centered">
            <div class="row row-eq-height white-panel">
              <div class="col-md-3 burger-col">
                <img src="<%= asset_path('burger_bacon.jpg') %>" style="height: 100%">
              </div>
              <div class="col-md-4 burger-col" style="border: solid 1px black; height: 100%">
                Ingredientes:
                <ul>
                  <li>Pão</li>
                  <li>2 Hamburgers</li>
                  <li>Bacon</li>
                  <li>Queijo</li>
                </ul>
              </div>
              <div class="col-md-5 burger-col" style="border: solid 1px black; height: 100%">
                Adicionais:
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>