<% content_for :title do %>About<% end %>
<h3>Sobre nós</h3>
<center style="margin:20%">
  O Rails Burger foi criado com muito amor, carinho e sabor para alegrar a sua barriga.
  <br>
  Todos amam HAMBURGUER!!!
</center>
