<% content_for :title do %>About<% end %>
<h3>Sobre nós</h3>
<center style="margin:20%;">
    <hr>
    <div class="col-lg-6">
        <p class="text-muted small" style="text-align: left;">Rua do Trem de Ferro, nº 12</p>
        <p class="text-muted small" style="text-align: left;">Joinville, SC</p>
        <b><p class="text-muted small" style="text-align: left;"> Telefone: (47) 1111-1111</p></b>
    </div>
    <div class="col-lg-6">
        <p class="text-muted small" style="text-align: right;"> Horário de Atendimento:</p>
        <p class="text-muted small" style="text-align: right;"> De segunda a sábado</p>
        <p class="text-muted small" style="text-align: right;"> das 18h às 23h</p>
    </div>
    <hr>
    <img src="<%= asset_path('lugar.jpg') %>">
</center>